{
  "openapi": "3.1.0",
  "info": {
    "title": "AtomEons Aether Static Resources",
    "version": "1.0.0",
    "description": "A truthful description of stable public GET resources on the static Aether deployment. This is not a write API or agent control plane."
  },
  "servers": [
    {
      "url": "https://atomeons.com",
      "description": "Canonical public site"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Aether front door",
        "responses": {
          "200": {
            "description": "AtomEons public homepage",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Language-model context document",
        "responses": {
          "200": {
            "description": "Plain-text identity, route, state, and citation guidance",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This static resource contract",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Current public route sitemap",
        "responses": {
          "200": {
            "description": "XML sitemap",
            "content": {
              "application/xml": {}
            }
          }
        }
      }
    },
    "/api": {
      "get": {
        "summary": "Human-readable machine access index",
        "responses": {
          "200": {
            "description": "Static HTML capability and boundary documentation",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/api/mcp": {
      "get": {
        "summary": "MCP status documentation",
        "description": "Documentation only. This is not an MCP transport endpoint.",
        "responses": {
          "200": {
            "description": "Static HTML status page",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/api/agent-gateway": {
      "get": {
        "summary": "Agent gateway status documentation",
        "description": "Documentation only. This endpoint accepts no jobs or mutations.",
        "responses": {
          "200": {
            "description": "Static HTML status page",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/research/papers/{slug}": {
      "get": {
        "summary": "Research paper presentation page",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Static HTML summary with evidence boundary and PDF link",
            "content": {
              "text/html": {}
            }
          },
          "404": {
            "description": "Paper not found"
          }
        }
      }
    },
    "/research/papers/{slug}.pdf": {
      "get": {
        "summary": "Locally hosted research paper PDF",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF artifact",
            "content": {
              "application/pdf": {}
            }
          },
          "404": {
            "description": "Paper not found"
          }
        }
      }
    },
    "/books/I-AM-AI-Opus-4.7.html": {
      "get": {
        "summary": "Complete I AM AI browser reader",
        "responses": {
          "200": {
            "description": "Self-contained HTML book",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    }
  }
}
